body {
    font-family: Arial;
    background: #f4f4f4;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
}

input {
    width: 100%;
    margin-bottom: 5px;
    padding: 6px;
    border: 2px solid #ccc;
}

input.valido {
    border-color: green;
}

input.invalido {
    border-color: red;
}

small {
    color: red;
    font-size: 12px;
}

button {
    margin-top: 10px;
    width: 100%;
}
